/* ------------------------
COMMON CSS PROPERTIES START
-------------------------- */
.width-50{
    width: 50%;
}
.big-font{
    font-size: 64px;
    font-weight: 700;
}
.button{
    background-color: #E02C6D;
    color: white;
    padding: 15px 25px;
    border: 1px solid #E02C6D;
}
.fa-arrow-right{
    padding-left:10px;
}

/* ------------------------
COMMON CSS PROPERTIES END
-------------------------- */
body,html{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F1F1F1;
}

/*---------------- 
section 1 START 
------------------*/
.section-1{
    display: flex;
    background-color: #2D25A0;
    margin-bottom:70px;
    margin-top: 0;
    padding-top: 42px;
    padding-bottom:20px;
}
.landing-texts h1{
    color: white;
}
.landing-button a{
    text-decoration: none;
    color: white;
}
.button:hover{
    box-shadow: 1px 1px 3px #ffa2f0;
}
.login-button a{
    background-color: #E02C6D;
    color: white;
    text-decoration: none;
    padding: 13px 15px;
}
.login-button a i{
    padding-right:10px;
}
.section-1{
    display: flex;
    margin-top: 49px;
}
.landing-texts{
    margin-left:286px;
}
.landing-image img{
    width:80%;
    height: 428px;
    margin-left:84px;
    transition: transform 0.5s ease-in-out;
}
.landing-image img:hover{
    transform:scale(1.1);
}
.landing-button i{
    padding-left:10px;
}
/*---------------- 
section 1 END 
------------------*/

/*---------------- 
EXTRA section 1 START 
------------------*/
#result-text{
    text-align: center;
}

h6{
    text-align: center;
    margin-top:80px;
    font-size: 1.5rem;
}

.extra-sec-1{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.team-1{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.team-2{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.team-2-img img{
    margin-left:20px;
}
/*---------------- 
EXTRA section 1 END 
------------------*/

/*---------------- 
section 2 START 
------------------*/
.section-2{
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:27px;
    grid-column-gap:30px;
}
.card{
    display: flex;
    flex-direction:column;
    width: 330px;
    height: 474px;
    box-shadow: 3px 3px 15px lightgray;
}
.card-image img{
    width: 320px;
    height: 230px;
}

/*---------------- 
section 2 END 
------------------*/


/*---------------- 
section 3 START 
------------------*/
.section-3{
    display: flex;
    margin-left: 182px;
    margin-top:224px;
    margin-right: 182px;
    height:427px;
}
#sec-3-link{
    color: white;
    text-decoration: none;
}
.sec-3-info{
    margin-right: 69px;
    /* height:427px; */
}
.sec-3-info h1{
    font-size: 48px;
}
.sec-3-image img{
    width:567px;
    height:427px;
}
.sec-3-button{
    margin-top: 30px;
    margin-bottom: 30px;
}

/*---------------- 
section 3 END
------------------*/

/*---------------- 
section 4 START 
------------------*/
.section-4{
    margin-top: 158px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; 
    /* width:483.87px;
    height:213px;
    margin-left:475px; */
    margin-top:200px;
}

.sec-4-image img{
   width:482px;
}
.sec-4-logos{
    margin-top: 20px;
    margin-left:40px;
    margin-bottom:20px;
}

.logo{
    width:16px;
    height:13px;
    margin-left: 22px;  
    margin-right: 22px;
    background-color: gray;
    padding:10px 10px;
    border-radius:50%;
}

footer{
    text-align: center;
}

/*---------------- 
section 4 END
------------------*/

/*-------------------------- 
Media  Query Part for MOBILE
---------------------------*/
@media only screen and (max-width:992px) {
    body,html{
        overflow-x: hidden;
    }
    
    .section-1{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content:flex-start;
        margin: 0;
    }
    .landing-texts{
        margin: 0;
    }
    .landing-image{
        margin-top:50px;
    }


    .section-2{
        width: 100%;
        display:flex;
        flex-direction: column;
        margin-left:0;
        margin-bottom:400px;
        justify-content: center;
        align-items: center;
    }

    .section-3{
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin-left:0;
        margin-bottom: 30px;
    }
    .section-3-image{
        margin-top:200px;
    }
    .section-4{
        margin-top:450px;
    }
 }

 /*-------------------------- 
Media  Query Part for TABLET
---------------------------*/

 @media only screen and (min-width:993px) and (max-width: 1024px){
     body{
         overflow-x: hidden;
     }
    .section-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }
     .section-3{
         display: grid;
         grid-template-rows: repeat(2,1fr);
         margin-top: 10px;
     }
     .sec-3-info{
         width: 100%;
     }
     .sec-3-info h1{
         text-align: center;
     }
     .section-4{
         display: flex;
         flex-direction:column;
         justify-content: center;
         align-items: center;
         margin-top:600px;

     }
 } 

