/* ------------------------
COMMON CSS PROPERTIES START
-------------------------- */
.width-50{
    width: 50%;
}
.big-font{
    font-size: 64px;
    font-weight: 700;
}
.button{
    background-color: #E02C6D;
    color: white;
    padding: 15px 25px;
    border: 1px solid #E02C6D;
}

/* ------------------------
COMMON CSS PROPERTIES END
-------------------------- */
body,html{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F1F1F1;
}

/*---------------- 
section 1 START 
------------------*/
.section-1{
    background-color: #2D25A0;
    margin-bottom:70px;
    padding-top: 42px;
    padding-bottom:20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left:156px;
    width:80%;
    height: 44px;
    align-items: center;
}
.links a{
    color: white;
    text-decoration: none;
    margin-left:40px;
}
.links a:hover{
    text-decoration: underline;
}
.landing-texts h1{
    color: white;
}
.landing-button a{
    text-decoration: none;
    color: white;
}
.button:hover{
    box-shadow: 1px 1px 3px #ffa2f0;
}
.login-button a{
    background-color: #E02C6D;
    color: white;
    text-decoration: none;
    padding: 13px 15px;
}
.login-button a i{
    padding-right:10px;
}
.landing-page{
    display: flex;
    margin-top: 49px;
}
.landing-texts{
    margin-left:286px;
}
.landing-image img{
    width:80%;
    height: 428px;
    margin-left:84px;
    transition: transform 0.5s ease-in-out;
}
.landing-image img:hover{
    transform:scale(1.1);
}
.landing-button i{
    padding-left:10px;
}
/*---------------- 
section 1 END 
------------------*/
#result-text{
    text-align: center;
}
.extra-sec-1{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.team-1{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.team-2{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.team-2-img img{
    margin-left:20px;
}

/*---------------- 
section 2 START 
------------------*/
.section-2{
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:27px;
    grid-column-gap:30px;
}
.card{
    display: flex;
    flex-direction:column;
    width: 330px;
    height: 474px;
    box-shadow: 2px 2px 2px lightgray;
}
.card-image img{
    width: 320px;
    height: 230px;
}

/*---------------- 
section 2 END 
------------------*/


/*---------------- 
section 3 START 
------------------*/
.section-3{
    display: flex;
    margin-left: 182px;
    margin-top:224px;
    margin-right: 182px;
    height:427px;
}
.sec-3-info{
    margin-right: 69px;
    height:427px;
}
.sec-3-info h1{
    font-size: 48px;
}
.sec-3-image img{
    width:567px;
    height:427px;
}

/*---------------- 
section 3 END
------------------*/

/*---------------- 
section 4 START 
------------------*/
.section-4{
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:483.87px;
    height:213px;
    margin-left:475px;
}

.sec-4-image img{
   width:482px;
}
.sec-4-logos{
    margin-top: 20px;
    margin-left:40px;
    margin-bottom:20px;
}

.logo{
    width:16px;
    height:13px;
    margin:auto 22px;
    background-color: gray;
    padding:8px 8px;
    border-radius: 50%;
}

.section-4 footer{
    text-align: center;
}